node_modules/
contract/dist/
scratch/
*.log
.DS_Store
contract/nomad.config.json
deploy/local/out/
deploy/testnet/tenant.json
deploy/testnet/out/
deploy/testnet/*.keys.json
deploy/testnet/tenant.*.json
deploy/testnet/user.*.keys.json
deploy/testnet/hosts.*.txt
deploy/testnet/peers.*.json
contract/bundle/
